<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <!--<ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>

      </ion-button>
    </ion-buttons>-->


    <ion-title color="primary">componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    @for (c of componentes | async; track c.name) {
      <ion-item [routerLink]="c.redirectTo"
      detail>
        <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
        <ion-label>{{ c.name }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <!--
  <ion-button routerLink="/alert">
    alert
  </ion-button>

    <ion-button routerLink="/action-sheet">
    action-sheet
  </ion-button>
  -->
</ion-content>
