


<app-header
  titulo="card"
  [defaultHref]="'/inicio'">
</app-header>

<ion-content>

  <ion-card mode="ios">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item color="primary">
    <ion-icon slot="start" name="pin-outline"></ion-icon>
    <ion-label>Marcador</ion-label>
  </ion-item>
<ion-card-content>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ab expedita suscipit minus eius, excepturi repudiandae vel in veritatis? Quidem delectus rerum animi atque ut quisquam facere eum soluta est!
</ion-card-content>



</ion-card>

<ion-card>
  <ion-img src="https://media.gettyimages.com/id/829371514/es/foto/simon-cowell-poses-with-a-cardboard-cut-out-of-cartoon-character-homer-simpson-as-he-arrives.jpg?s=612x612&w=0&k=20&c=-z09QGmGkNAUN2bC16Qo_v-YYPAg3zIBcG5lErYCM8M="></ion-img>
</ion-card>

<ion-card-content>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ab expedita suscipit minus eius, excepturi repudiandae vel in veritatis? Quidem delectus rerum animi atque ut quisquam facere eum soluta est!
</ion-card-content>

</ion-content>
